.game-container {
    min-height: 100vh;
    background-color: #f8f9fa;
    background-image: radial-gradient(#ff8c42 1px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.dark .game-container {
    background-color: #0f172a;
    background-image: radial-gradient(rgba(251, 146, 60, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
}

h1 {
    margin: 0;
    font-size: 3.75rem; 
    font-weight: 700;
    letter-spacing: -0.01562rem;
    color: #f97316; 
    text-transform: uppercase;
    font-family: 'Inter', cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.112);
}

.dark h1 {
    color: white; 
}

.game-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 2rem 0.5rem;
}

.game-header p {
    color: rgb(88, 88, 88);
    font-size: 1.25rem;
}

.dark .game-header p {
    color: #BDBDBD;
}

.num-wins {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.num-wins p {
    background-color: white;
    padding: 0.8rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.112);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
}

.dark .num-wins p {
    background-color: rgba(17, 24, 39, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid #1f2937;
    color: white;
}

.trophy {
    color: #f97316;
}

.circle-help {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    transition: background-color 0.15s ease-in-out;
}

.dark .circle-help {
    background-color: rgba(17, 24, 39, 0.5);
    backdrop-filter: blur(4px);
    color: white;
    border: 1px solid #1f2937;
}

.circle-help:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.dark .circle-help:hover {
    background-color: #1f2937;
}

.search-bar {
    width: 70%;
    margin: 0.5rem 0.5rem 0 0.5rem;
    height: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(178, 178, 178);
    font-size: 16px;
}

.dark .search-bar {
    background-color: rgba(17, 24, 39, 0.5);
    border: 1px solid #1f2937;
    color: white;
}

.dark .search-bar::placeholder {
    color: #6b7280;
}

.search-bar:focus {
    outline-color: rgb(203, 203, 203);
    outline-offset: 0px;
}

.dark .search-bar:focus {
    border-color: #fb923c;
    outline: none;
}

.search-results {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin: 0 0.5rem 1rem 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.3rem;
    box-sizing: border-box;
}

.dark .search-results {
    background-color: rgba(17, 24, 39, 0.5);
}

.search-results button {
    background-color: white;
    width: 100%;
    border: 0px;
    display: flex;
    justify-content: start;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
}

.dark .search-results button {
    background-color: rgba(17, 24, 39, 0.5);
    color: white;
}

.search-results button:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.dark .search-results button:hover {
    background-color: rgba(33, 43, 66, 0.5);
}

.results-scroll {
    max-height: 8.2rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.dark .results-scroll {
    scrollbar-color: #1f2937 rgba(17, 24, 39, 0.5);
}

.results-table {
    background-color: white;
    backdrop-filter: blur(4px);
    width: 70%;
    min-width: 370px;
    margin: 1rem 0.5rem 2rem 0.5rem;
    border-radius: 10px;
    border: 1px solid #f6f6f6;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.112);
    padding: 0.5rem;
    box-sizing: border-box;
}

.dark .results-table {
    background-color: rgba(17, 24, 39, 0.3);
    backdrop-filter: blur(4px);
    color: white;
    border: 1px solid #1f2937;
}

.short-label {
    display: none;
}

.short-div {
    display: none;
}

@media (max-width: 580px) {
  .results-table {
    font-size: 0.8rem;
    width: 90%;
    overflow-x: scroll;
  }
  .table-header, .results-table-row {
    width: 100%;
  }
  .name-col {
    display: none;
  }
}

@media (max-width: 768px) {
  .results-table {
    font-size: 0.9rem;
  }
  .full-label, .full-div {
    display: none;
  }
  .short-label, .short-div {
    display: inline;
  }
}

.table-header, .results-table-row {
    display: grid;
    grid-template-columns: 
        1fr   /* Name */
        0.5fr /* Team */
        0.7fr   /* Conference */
        0.7fr   /* Division */
        0.5fr   /* Position */
        0.5fr /* Age */
        0.5fr /* Height */
        0.5fr /* Number */;
    text-align: center;
    align-items: center;
    margin: 0 0.5rem;
    column-gap: 8px;
}

.table-header {
    margin-bottom: 1rem;
}

.results-table-row > *, .unknown-row {
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 0 8px 0;
}

.table-header {
    margin-top: 1rem;
}

.unknown-row {
    grid-column: span 8;
}

.incorrect, .higher, .lower {
    background-color: rgba(255, 136, 136, 0.555);
    color: rgb(125, 43, 43);
}

.dark .incorrect, .dark .higher, .dark .lower {
    background-color: rgba(239, 68, 68, 0.2);
    color: #f87171;
}

td div {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.arrow {
    width: 1rem;
    height: 1rem;
}

.correct {
    background-color: rgba(155, 255, 155, 0.441);
    color: rgb(38, 90, 38);
}

.dark .correct {
    background-color: rgba(34, 197, 94, 0.2);
    color: #34d399;
}

.partial {
    background-color: rgba(255, 255, 150, 0.461);
    color: rgb(83, 83, 18);
}

.dark .partial {
    background-color: rgba(234, 179, 8, 0.2);
    color: #facc15;
}

.give-up {
    background-color: white;
    margin-bottom: 2rem;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: 1.5px solid rgb(225, 225, 225);
    transition: background-color 0.15s ease-in-out;
}

.dark .give-up {
    background-color: rgba(17, 24, 39, 0.3);
    backdrop-filter: blur(4px);
    color: white;
    border: 1.5px solid #1f2937;
}

.give-up:hover {
    cursor: pointer;
    background-color: #ffc8a6;
    border-color: #ffba89;
}

.dark .give-up:hover {
    background-color: rgba(249, 115, 22, 0.7);
    border-color: #f97316;
}

.loss-popup-container, .win-popup-container {
    background-color: #fff7ed;
    width: 65%;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #fed7aa;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.dark .loss-popup-container, .dark .win-popup-container {
    background-color: rgba(17, 24, 39, 0.5);
    backdrop-filter: blur(4px);    
    border: 1px solid #1f2937;
    color: white; 
}

.loss-popup-container h3, .win-popup-container h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.play-again-button {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    align-items: center;
    background-color: #f97316;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
    transition: background-color 0.15s ease-in-out;
}

.play-again-button:hover {
    cursor: pointer;
    background-color: #da6a1a;
}

.help-popup {
    padding: 0;
    margin: -1rem 0.5rem 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    border: 1.5px solid rgb(236, 236, 236);
    border-radius: 10px;
}

.dark .help-container {
    background-color: rgba(17, 24, 39, 0.5);
    backdrop-filter: blur(4px);    
    border: 1px solid #1f2937;
    color: white;    
}

.help-container li {
    color: rgb(83, 83, 83);
    margin: 0.5rem;
}

.dark .help-container li {
    color: #BDBDBD;
}

.help-container li::marker {
    color: #f97316;;
    content: "•   ";
}